body {
  font-family: "Fredoka", Arial, sans-serif;
  background-color: #FAD695;
  text-align: center;
}

h1 {
    color: #FA2383;
    font-size: 48px;    
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}

#mi-id {

  background-color: #FA9B0F;
  padding: 20px 40px;
  border: 30px;
  margin: 60px;
  display:flex;
  justify-content: center;

}

h2 {
  color: #FA4A0F;
  font-size: 32px;

}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.05em
}

.miclase {
  background-color: #F7846F;
  padding: 20px 40px;
  border: 30px;
  margin: 60px;
}

.icono-red {
  width: 40px;
  transition: 0.3s;
}

.icono-red:hover {
  transform: scale(1.2);
  opacity: 0.7;
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 12px 20px;
  margin: 5px;
  border-radius: 8px;

}

section {
  padding: 40px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.box {
  padding: 15px;
  border: 5px;
  margin: 30px;
}

.contenido{
  display:flex;
  align-items:center;
  gap:30px;
  flex-wrap:wrap;
}

.contenido img{
  width:400px;
  max-width:100%;
  border-radius:10px;
}

.contenido p{
  flex:1; 
}

.mge {
  margin: 10px; 
}

.galeria {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.galeria img{
  margin: 20px;
}

.room {
  display: flex;
  align-items:center;
  gap:30px;
  flex-wrap:wrap;
}

.room img{
  margin: 10px;
  padding: 10px;
  border: 5px;
  width:600px;
  max-width:100%;
}