body {
  font-family: "Fredoka", Arial, sans-serif;
  background-color: #FAD695;
  text-align: center;
}

h1 {
  color: #FA2383;
  font-size: 48px;    
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
}

h3 {
  color: #FA730F;
}

.miclass {
  color: #FA0F60;
}

h4 {
  color: #FA2383;
}

h2 {
  color: #FA4A0F;
  font-size: 32px;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.05em
}

.miclase {
  background-color:#FAAD94;
  padding: 20px 40px;
  border: 30px;
  margin: 60px;
}

.icono-red {
  width: 40px;
  transition: 0.3s;
}

.icono-red:hover {
  transform: scale(1.2);
  opacity: 0.7;
}

section {
  padding: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imagen1 {
  max-width: 100%;
  height: auto;
}

.box {
  padding: 15px;
  border: 5px;
  margin: 30px;
}

.contenido{
  display:flex;
  align-items:center;
  gap:30px;
  flex-wrap:wrap;
  border: 5px;
  padding: 30px 35px;
  margin: 10px;
  text-align: justify;
}

.contenido img{
  width:400px;
  max-width:100%;
  border-radius:10px;
}

.contenido p{
  flex:1; 
}

.mge {
  margin: 10px; 
}

.galeria {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.galeria img{
  margin: 20px;
}

.room {
  display: flex;
  align-items:center;
  gap:30px;
  flex-wrap:wrap;
  justify-content: space-around;
}

.room img{
  margin: 10px;
  width:500px;
  max-width: 90%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #f1e6e1;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  margin: 20px;
}

.obras {
  width: 600px;
  border-radius: 10px; 
}

@media (max-width: 768px){
  .obras{
    width: 90%;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FA9B0F;
  color: white;
  flex-wrap: wrap;
}

.logo {
  font-weight: bold;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color:#FA2383;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 16px;
  margin: 5px;
}


.btn:hover {
  background-color:#FAAD94;
}


.logo img {
  width: 120px;
  height: auto;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items:center;
    gap: 10px;
  }


  .btn {
    width: 80%;
    text-align: center;
  }

  .logo {
    width: 40px; 
    min-width: 40px;
  }
}

.footer {
  background-color:#FA9B0F;
  color: white;
  padding: 30px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
}

.newsletter h3 {
  margin-bottom: 10px;
}

.social {
  text-align: center;
}

@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .social {
    text-align: center;
    margin-top: 20px;
  }

  .newsletter input {
    margin-bottom: 10px;
  }
}

.slogan{
  background-color: #FAAD94;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}

.espacio {
  border-radius: 10px;
}