body {
  font-family: "Fredoka", sans-serif;
  background-color: #FAD695;
  text-align: center;
}

h1 {
    color: #FA2383;
    font-size: 24 px;    
    margin-bottom: 20 px;
    font-weight: 700;
}

#mi-id {

  background-color: #FA9B0F;

}

h2 {
  color: #FA4A0F;

}

p {
  font-weight: 400;

}

.miclase {
  background-color: #F7846F;
}

.icono-red {
  width: 40px;
  transition: 0.3s;
}

.icono-red:hover {
  transform: scale(1.2);
  opacity: 0.7;
}